{% extends "layout.html" %}

{% block head %}
    <title> {{ table.title }} | {{ site.title }} </title>
    <meta name="description" content="{{ site.description|e }}">
    <meta name="author" content="">
    <style>
    /* Error Page Inline Styles */
    body {
      padding-top: 20px;
    }
    /* Layout */
    .jumbotron {
      font-size: 21px;
      font-weight: 200;
      line-height: 2.1428571435;
      color: inherit;
      padding: 10px 0px;
    }
    /* Everything but the jumbotron gets side spacing for mobile-first views */
    .masthead, .body-content, {
      padding-left: 15px;
      padding-right: 15px;
    }
    /* Main marketing message and sign up button */
    .jumbotron {
      text-align: center;
      background-color: transparent;
    }
    .jumbotron .btn {
      font-size: 21px;
      padding: 14px 24px;
    }
    /* Colors */
    .green {color:#5cb85c;}
    .orange {color:#f0ad4e;}
    .red {color:#d9534f;}
    </style>
{% endblock %}



{% block body %}
    <div class="container">

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1><span class="glyphicon glyphicon-fire red"></span> <small>{{ __('The web server is returning an internal error.') }}</small></h1>
		{% if error %}
		<p class="lead">{{message}}</p>
		{% endif %}
	  </div>


	  <div class="jumbotron alert alert-info alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		<h1><span class="glyphicon glyphicon-info-sign blue"></span> <small>{{ __('Tips') }}</small></h1>
		{% if name == "TableNotFound"%}
			<p class="lead"> {{ __('Try to create a new table.') }}</p>
			<a id="action-newtable" href="" class="btn btn-success">{{ __('Create it.') }}</a>
        {% elif name == "IndexNotFound" or name == "CollectionNotFound" %}
			<p class="lead"> {{ __('Try to create a first table.') }}</p>
			<a id="action-newtable" href="" class="btn btn-success">{{ __('Create it.') }}</a>
        {% elif name == "MongoError" %}
			<p class="lead"> {{ __('Try to start (or retstart) Mongo.') }}</p>
			<a href="javascript:document.location.reload(true);" class="btn btn-success">{{ __('Try Again') }}</a>
		{% else %}
			<a href="javascript:document.location.reload(true);" class="btn btn-success">{{ __('Try Again') }}</a>
        {% endif %}
		<a href="/" class="btn btn-default">{{ __('Back home') }}</a>
      </div>


      {% if error %}
      <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4> {{ name }}</h4>
        <pre>{{ error.stack.split('\n').slice(1).join('\n') }}</pre>
      </div>
      {% endif %}


    </div>
     <!-- /container -->
{% endblock %}


{% block scripts %}
<script>
$(document).ready(function() {
    var Faker = require('faker');
	$('#action-newtable').click(function() {
		var url = '/' + Faker.lorem.words(3).join('-') + '/';
		$.ajax({
			type: "POST",
			url: url ,
			data: {},
			success: function(data) {
				document.location.href = url;
			}
		});
		return false;
	});
});
</script>
{% endblock %}
