{% extends "layout.html" %}

{% block styles %}
<link href="/assets/css/index.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block head %}
<title>{{ _label | d($_wid) | d('n/a') | e }}</title>
<meta name="description" content="{{ table._text | d($_wid) | d('n/a') | e }}">
<meta name="author" content="">
{% endblock %}

{% block header %}
<div class="jumbotron">
	<h1>{{title}}</h1>
	<p>{{description}}</p>
</div>
{% endblock %}

{% block body %}
 <div id="no-more-tables">
	 <table class="col-md-12 table-bordered table-striped table-condensed cf">
		 <thead class="cf">
			 <tr>
				 <td>#</td>
				 {% for name, con in _documents[0].@context %}
				 {% if con.@quality == 'primary' %}
				 <th>{{ con.@label }}</th>
				 {% endif %}
				 {% endfor %}
			 </tr>
		 </thead>
		 <tbody>
			 {% for doc in _documents %}
			 <tr>
				 <td>
					 <a href="/{{ _globals.prefixKEY }}/{{ doc._wid}}/"><i class="fa fa-sticky-note"></i></a>
				 </td>
				 {% for name, con in doc.@context %}
				 {% if con.@quality == 'primary' %}
				 <td data-title="{{ con.@label }}">{{doc[name]}}</td>
				 {% endif %}
				 {% endfor %}
			 </tr>
			 {% endfor %}
		 </tbody>
	 </table>
 </div>
{% endblock %}






