{% extends "layout.html" %}

{% block head %}
<title> {{ table._label | d('n/a') | e }}  </title>
<meta name="description" content="{{ table._text | d('n/a') | e }}">
<meta name="author" content="">
{% endblock %}

{% block header %}
<div class="jumbotron">
  <h1>{{_label}}</h1>
  <p>{{_text}}</p>
  <p>
  <a  class="btn btn-primary btn-lg" href=\"{{_url|e}}\"  role="button">{{$_url|d('n/a')}}</a>
  </p>
</div>
{% endblock %}

{% block body %}
{% for doc in _documents %}
<div class="media"  itemscope itemtype="http://schema.org/MediaObject">
	<div class="media-left">
		<a href="/{{ _globals.prefixKEY }}/{{ doc._wid}}/"> {{ doc._wid }} </a>
	</div>
	<div class="media-body">
		<h4 itemprop="name" class="media-heading">{{ doc._label|d('n/a') }}</h4>
		<p itemprop="description">{{ doc._text|d('n/a') }}</p>
	</div>
</div>
{% endfor %}
{% endblock %}






