{% extends "layout.html" %}

{% block body %}
<h2>{{ __('Authenticate') }} </h2>

<div>
	<h4>{{ __('Use your account') }}</h4>
	<!-- Form -->
	<form class="form" action="/-/login" method="post">
		<div class="form-group">
			<label>{{ __('Login:') }}</label>
			<input class="form-control" name="username" placeholder="{{ __('Please enter your login') }}" type="text" tabindex="2" required>
		</div>
		<div class="form-group">
			<label>{{ __('Password:') }}</label>
			<input class="form-control" name="password" placeholder="{{ __('Please enter your password') }}" type="password" tabindex="2" required>
		</div>
		<div class="form-group">
			<button class="btn btn-default" name="submit" type="submit" id="contact-submit">{{ __('Sig in') }}</button>
		</div>
	</form>
	<!-- /Form -->
</div>
{% endblock %}
