=G{% extends "layout.html" %}

{% block head %}
<title> {{ table._label | d('n/a') | e }}  </title>
<meta name="description" content="{{ table._text | d('n/a') | e }}">
<meta name="author" content="">
{% endblock %}

{% block header %}
<div class="jumbotron">
  <h1>{{_label}}</h1>
  <p>{{_text}}</p>
  <p>
  <a  class="btn btn-primary btn-lg" href=\"{{_url|e}}\"  role="button">{{$_url|d('n/a')}}</a>
  </p>
</div>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    {% for doc in _documents %}
    <div class="media"  itemscope itemtype="http://schema.org/MediaObject">
      <div class="media-left">
        <a href="{{ doc._url }}> {{ doc.$_url }} </a>
      </div>
      <div class="media-body">
        <h4 itemprop="name" class="media-heading">{{ doc._label }}</h4>
        <p itemprop="description" >{{ doc._text }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}





{% block footer %}
<div class="row">
  <div class="col-md-12">
  <p class="pull-right">
  <a href=\"?alt=raw\">View scope</a>
  </p>
  </div>
</div>
</div>
{% endblock %}
