{% extends "layout.html" %}

{% block head %}
<title> {{ table._label | d('n/a') | e }}  </title>
<meta name="description" content="{{ table._text | d('n/a') | e }}">
<meta name="author" content="">
{% endblock %}

{% block header %}
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">{{ __('Toggle navigation') }}</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="/index/"><span class="glyphicon glyphicon-home"></span> {{ __('Index') }}</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-calendar"></span> {{ __('Table') }}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a id="action-editpage" href="" data-toggle="modal" data-target="#modal-editpage" role="button"><span class="fa fa-pencil-square-o"></span> {{ __('Edit Template') }}</a>
						</li>
						<li>
							<a id="action-edittable" href="" data-toggle="modal" data-target="#modal-edittable" role="button"><span class="fa fa-cog"></span> {{ __('Edit Properties') }}</a>
						</li>
						<li
							><a id="action-newcolumn" href=""><span class="fa fa-plus-square"></span> {{ __('Add new column') }}</a>
						</li>
						<li>
							<a id="action-newtable" href=""><span class="fa fa-calendar-plus-o"></span> {{ __('Create new one') }}</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-random"></span> {{ __('Fork') }}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a href="" data-toggle="modal" data-target="#modal-loadtable-fork">{{ __('With all documents') }}</a>
						</li>
						<li>
							<a id="action-clonetable" href="">{{ __('Only table properties') }}</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cloud-upload"></span> {{ __('Upload') }}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a href="" data-toggle="modal" data-target="#modal-loadtable-file">{{ __('From Computer') }}</a>
						</li>
						<li>
							<a href="" data-toggle="modal" data-target="#modal-loadtable-uri">{{ __('From Internet') }}</a>
						</li>
						<li>
							<a href="" data-toggle="modal" data-target="#modal-loadtable-keyboard">{{ __('From Keyboard') }}</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cloud-download"></span> {{ __('Download') }}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a id="action-download-csv" href=""><span class="fa fa-table"></span> {{ __('CSV file') }}</a>
						</li>
						<li>
							<a id="action-download-nq" href=""><span class="fa fa-bars"></span> {{ __('N-Quads file') }}</a>
						</li>
						<li>
							<a id="action-download-json" href=""><span class="fa fa-file-o"></span> {{ __('JSON LD file') }}</a>
						</li>
					</ul>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
{% endblock %}

{% block body %}

<script type="text/x-paperclip" id="div-set-root">
{% include "./templates/div-set-root.html" %}
</script>


	<h1>
		{{ table._label|d('n/a')|e }}
		{% if table._from %}
		<small>forked from <a href="/{{ table._from }}">{{ table._from }}</a></small>
		{% endif %}
	</h1>
	<div>{{ table._text|d('n/a') }}</div>

	<div id="table-items">
		<table class="table table-bordered" data-resizable-columns-id="table-html">
			<thead>
				<tr>
					<th style="width: 0.5em"></th>
					{% for name, field in table._columns %}
					<th data-resizable-column-id="column-{{name}}">
						<span>{{field.label}}</span>
						<a href="" class="action-editcolumn pull-right" data-toggle="modal" data-target="#modal-editcolumn" role="button" data-column='{{name}}' ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
					</th>
					{% endfor %}
					<th style="width: 0.5em"></th>
				</tr>
			</thead>
			<tbody id="items-tbody">
				<script type="text/x-paperclip" id="table-items-list">
				{% include "./templates/table-items.html" %}
				</script>
			</tbody>
		</table>
	</div>


<script type="text/x-paperclip" id="modal-edit-table">
{% include "./templates/modal-edit-table.html" %}
</script>

<script type="text/x-paperclip" id="modal-edit-column">
{% include "./templates/modal-edit-column.html" %}
</script>

<script type="text/x-paperclip" id="modal-load-table-fork">
{% include "./templates/modal-load-table-fork.html" %}
</script>

<script type="text/x-paperclip" id="modal-load-table-file">
{% include "./templates/modal-load-table-file.html" %}
</script>

<script type="text/x-paperclip" id="modal-load-table-uri">
{% include "./templates/modal-load-table-uri.html" %}
</script>

<script type="text/x-paperclip" id="modal-load-table-keyboard">
{% include "./templates/modal-load-table-keyboard.html" %}
</script>

<script type="text/x-paperclip" id="modal-load-table">
{% include "./templates/modal-load-table.html" %}
</script>

<script type="text/x-paperclip" id="modal-edit-page">
{% include "./templates/modal-edit-page.html" %}
</script>



{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/libs/jsoneditor/dist/jsoneditor.min.css">
<link rel="stylesheet" type="text/css" href="/libs/jquery-resizable-columns/dist/jquery.resizableColumns.css">
<link rel="stylesheet" type="text/css" href="/libs/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/libs/summernote/dist/summernote.css">
<style> .jsoneditor .menu {display: none;} </style>
{% endblock %}

{% block scripts %}
<script src="/libs/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="/libs/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="/libs/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="/libs/jsoneditor/dist/jsoneditor.min.js"></script>
<script src="/libs/ace-builds/src-min/ace.js"></script>
<script src="/libs/store.js/store.min.js"></script>
<script src="/libs/jquery-resizable-columns/dist/jquery.resizableColumns.min.js"></script>
<script src="/libs/summernote/dist/summernote.min.js"></script>
<script>
var nColumns = {{table._columns|length()|d(0)}};
</script>
<script src="/assets/js/table.js"></script>
{% endblock %}

