{% extends "./themes/" + configuration.themeName + ".html" %}

{% block styles %}
<link href="/assets/css/index.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block head %}
<title>{{ titre }}</title>
<meta name="description" content="{{ description }}">
<meta name="author" content="">
{% endblock %}

{% block header %}
<div class="postmeta updated color_gray">
	<div class="pull-right">
		<div class="badgenbdoc">{{ total }}</div>Ressources
	</div>
</div>
{{ resource(resource) }}
{% endblock %}

{% block body %}

<ul class="nav nav-tabs">
	<li role="presentation" class=""><a href="{{ data._referenced | d({}) | getJsonLdField('http://purl.org/dc/terms/isPartOf') | get('content') }}">is Part Of</a></li>
	<li role="presentation" class="active"><a href="#">has Part</a></li>
</ul>
<div id="no-more-tables">
    <table class="table-bordered table-striped table-condensed cf">
        <thead class="cf">
            <tr>
                <th>URI</th>
                {% set columnsNb = 1 %}
                {% for name, con in colonnes %}
                {% if columnsNb < 5 %}
                {% set columnsNb = columnsNb + 1 %}
                <th>{{ name }}</th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for doc in documents %}
            <tr>
                <td data-title="URI">
                    <a href="{{ doc.@id.raw }}/">{{ doc.@id.raw }}</a>
                </td>
                {% set columnsNb = 1 %}
                {% for name, con in colonnes %}
                {% if columnsNb < 5 %}
                {% set columnsNb = columnsNb + 1 %}
				<td data-title="{{ name }}">{{ doc[name].html }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
	</table>
</div>

{% endblock %}
