{% extends "./themes/" + config.themeName + ".html" %}

{% block styles %}
<link href="/assets/css/index.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block head %}
<title>{{ _label | d($_wid) | d('n/a') | e }}</title>
<meta name="description" content="{{ table._text | d($_wid) | d('n/a') | e }}">
<meta name="author" content="">
{% endblock %}

{% block header %}
<div class="postmeta updated color_gray">
	<div class="pull-right">
		<div class="badgenbdoc">{{ _documents| d([]) | length }}</div>Ressources
	</div>
</div>
{{ resource(_referenced) }}
{% endblock %}

{% block body %}

<ul class="nav nav-tabs">
	<li role="presentation" class=""><a href="{{ _referenced | d({}) | getJsonLdField('http://purl.org/dc/terms/isPartOf') | get('content') }}">isPartOf</a></li>
	<li role="presentation" class="active"><a href="#">hasPart</a></li>
</ul>
<div id="no-more-tables">
    <table class="table-bordered table-striped table-condensed cf">
        <thead class="cf">
            <tr>
                <th>URI</th>
                {% for name, con in _columns %}
                {% if con.primary == 'true' %}
                <th>{{ con.label }}</th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% asyncEach doc in _documents %}
            <tr>
                <td data-title="URI">
                    <a href="{{ doc._content.jsonld.@id }}/">{{ doc._content.jsonld.@id }}</a>
                </td>
                {% asyncEach name, con in _columns %}
                {% if con.primary == 'true' %}
				<td data-title="{{ con.label }}">{{ doc._content.jsonld | get(name) | textToHtml }}</td>
                {% endif %}
                {% endeach %}
            </tr>
            {% endeach %}
        </tbody>
	</table>
</div>

{% endblock %}
