{% extends "./themes/" + themeName + ".html" %}



{% block head %}
<title> {{ _table._label | d(_table._wid) | d('n/a') | e }}  </title>
<meta name="description" content="{{ _table._text | d('n/a') | e }}">
<meta name="author" content="">
{% endblock %}




{% block styles %}
{% if themeName == 'istex' %}
<link rel="stylesheet" type="text/css" href="/assets/css/rzslider.css">
{% endif %}
{% endblock %}



{% block header %}
<a href="/" title="Homepage" rel="homepage">Homepage</a> / Resource #{{_wid}}
<h1>{{_table._label}} # {{_wid}}</h1>
{% if themeName == 'istex' %}
<div istex-results></div>
{% endif %}
{% endblock %}



{% block body %}


<!--

<dl>
    <dt>URI</dt>
    <dd>{{_content.jsonld.@id}}</dd>
{% for cName, column in _table._columns %}
    <dt>{{column.label}}</dt>
    {{_content.jsonld | getJsonLdField([column.scheme,column.language]) | tag('dd')}}
{% endfor %}
</dl>
-->

<div id="notice">
 <img src="/assets/img/istex_img/quoteleft.png" alt="quote" />
 <table>
     <tbody>
      <tr>
        <td>URI : </td>
        <td>{{_content.jsonld.@id}}</td>
      </tr>
      {% for cName, column in _table._columns %}
       <tr>
        <td>{{column.label}}: </td>
         <td>{{_content.jsonld | getJsonLdField([column.scheme,column.language]) | tag('dd')}} 
       </td>
              {% endfor %}
        </tr>
        </tbody>

   </table>
    <img src="/assets/img/istex_img/quoteright.png" alt="quote" />
   </div>
   






{% if themeName == 'istex' %}
<script type="text/javascript">
var istexConfig = {
    query: '* AND genre.raw:("{{_content.jsonld.englishLabel}}")',
    hideButton: true
};
</script>

<script src="/assets/js/angular.min.js"></script>
<script src="/assets/js/rzslider.js" type="text/javascript"></script>
<script src="/assets/js/istex-widget.min.js" type="text/javascript"></script>
{% endif %}

{% endblock %}
