{% extends "./themes/" + themeName + ".html" %}



{% block head %}
<title> {{ _table._label | d(_table._wid) | d('n/a') | e }}  </title>
<meta name="description" content="{{ _table._text | d('n/a') | e }}">
<meta name="author" content="">
{% endblock %}




{% block styles %}
{% if themeName == 'istex' %}
<link rel="stylesheet" type="text/css" href="/assets/css/rzslider.css">
<link rel="stylesheet" type="text/css" href="http://istex.github.io/styleAngular/style.min.css">
{% endif %}
{% endblock %}


{% block header %}
{{ resource(_content, _referenced, _documents) }}
{% endblock %}


{% block body %}
{% if themeName == 'istex' %}
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">in ISTEX</a></li>
</ul>
<div istex-results></div>
<script type="text/javascript">
var istexConfig = {
    query: '* AND genre.raw:("{{_content.jsonld.englishLabel}}")',
    hideButton: true
};
</script>

<script src="/assets/js/angular.min.js"></script>
<script src="/assets/js/rzslider.js" type="text/javascript"></script>
<script src="/assets/js/istex-widget.min.js" type="text/javascript"></script>
{% endif %}

{% endblock %}
