{% extends "./themes/" + themeName + ".html" %}

{% block head %}
<title> {{ _table._label | d(_table._wid) | d('n/a') | e }}  </title>
<meta name="description" content="{{ _table._text | d('n/a') | e }}">
<meta name="author" content="">
{% endblock %}


{% block header %}
<h1>{{_table._label}} # {{_wid}}</h1>
{% endblock %}

{% block body %}
<h2>English</h2>
<ul>
    <li>URI: {{_content.jsonld.@id}}</li>
    <li>Identifier: {{_content.jsonld|getJsonLdField("http://purl.org/dc/elements/1.1/identifier")}}</li>
    <li>Label: {{_content.jsonld|getJsonLdField(["http://www.w3.org/2004/02/skos/core#prefLabel","en"])}}</li>
    <li>Definition: {{_content.jsonld|getJsonLdField(["http://www.w3.org/2004/02/skos/core#definition","en"])}}</li>
</ul>

<h2>Français</h2>
<ul>
    <li>URI: {{_content.jsonld.@id}}</li>
    <li>Identifier: {{_content.jsonld|getJsonLdField("http://purl.org/dc/elements/1.1/identifier")}}</li>
    <li>Label: {{_content.jsonld|getJsonLdField(["http://www.w3.org/2004/02/skos/core#prefLabel","fr"])}}</li>
    <li>Definition: {{_content.jsonld|getJsonLdField(["http://www.w3.org/2004/02/skos/core#definition","fr"])}}</li>
</ul>

{% endblock %}
