<form class="form-inline" style="padding-top: 5px">
  <div class="form-group">
    <select class="form-control" id="div-sort-field" name="field" onchange=[[handleChange]]>
      <option value="_id">{{ __('Sort by') }} {{ __('Creation time') }}</option>
      <option value="_label">{{ __('Sort by') }} {{ __('Representative label') }}</option>
      <option value="_text">{{ __('Sort by') }} {{ __('Representative text') }}</option>
      <option value="_hash">{{ __('Sort by') }} {{ __('Representative hash') }}</option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control" name="order" onchange=[[handleChange]]>
      <option value="asc">{{ __('Ascending') }}</option>
      <option value="desc">{{ __('Descending') }}</option>
    </select>
  </div>
</form>
