<div class="modal" id="modal-loom" tabindex="-1" role="dialog" aria-labelledby="modal-loom-title">
<div class="modal-dialog modal-lg" role="dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-loom-title">{{ __('Loom Data') }} 2 / 2</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <select class="form-control" id="modal-loom-select-left-column" onchange=[[handleChangeLeft]]>
            <option repeat.each="[[leftColumns]]" repeat.as="item" data-value="[[ item|get('value') ]]">[[ item|get('label') ]]</option>
          </select>
        </div>
        <div class="col-md-6">
          <select class="form-control" id="modal-loom-select-right-column" onchange=[[handleChangeRight]]>
            <option repeat.each="[[rightColumns]]" repeat.as="item" data-value="[[ item|get('value') ]]">[[ item|get('label') ]]</option>
          </select>
        </div>
      </div>
       <div class="row">
         <div class="col-md-6" id="modal-loom-left-column">
           <ul class=" modal-column" style="overflow-y: scroll">
             <li repeat.each="[[leftItems]]" repeat.as="item">
               [[ item ]]
             </li>
           </ul>
         </div>
         <div class="col-md-6" id="modal-loom-right-column">
            <ul class=" modal-column" style="overflow-y: scroll">
             <li repeat.each="[[rightItems]]" repeat.as="item">
               [[ item ]]
             </li>
           </ul>
         </div>
       </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#modal-loom">{{ __('Cancel') }}</button>
    </div>
  </div>
</div>
</div>

