<tr repeat.each="[[items]]" repeat.as="item">
<td>
  #[[ key|plus ]]
</td>
<td>
  <a href="[[ item._content.jsonld|get('@id') ]]/">[[ item._content.jsonld|uri('@id') ]]</a>
</td>
{% for name, column in table._columns %}
{% if name == '_wid' %}
<td class="danger">
{% else %}
<td>
{% endif %}
  <show when="[[ item._content.jsonld|len('${{name}}') > 0 ]]">
  <a href="/[[ item._content.jsonld|get('{{name}}') ]]">[[item._content.jsonld|get('${{name}}')]]</a>
  </show>
  <show when="[[ item._content.jsonld|len('${{name}}') === 0 ]]">
  <span>[[ item._content.jsonld|get('{{name}}') ]]</span>
  </show>
</td>
{% endfor %}
<td>
  <a style="margin: 2px" title="{{ __('CSV file') }}" href="./[[ item._content.jsonld|get('_wid') ]]/*?alt=csv"><span class="fa fa-table"></span></a>
  <a style="margin: 2px" title="{{ __('N-Quads file') }}" href="./[[ item._content.jsonld|get('_wid') ]]/*?alt=nq"><span class="fa fa-bars"></span></a>
  <a style="margin: 2px" title="{{ __('JSON LD file') }}" href="./[[ item._content.jsonld|get('_wid') ]]/*?alt=json"><span class="fa fa-file-o"></span></a>
  <a style="margin: 2px" title="{{ __('RAW file') }}" href="./[[ item._content.jsonld|get('_wid') ]]/*?alt=raw"><span class="fa fa-file-code-o"></span></a>
</td>
</tr>

