body{margin:0;}
#surentete{ margin:0 auto; padding:0; font-family:Arial, Helvetica, sans-serif; color:#333; 	height:40px; width:990px;position:relative;z-index:1000}
#barresrent{ border-bottom:1px solid #eaeade;}
.bsbb,.srent li{box-sizing:border-box;}
.clear{clear:both}
.logoistex{position:absolute;margin: 3px 0 0 0;}
/*.logoanr{padding: 0 0 0 10px;}*/
.logoistex img,.logoanr img{float:left}
.srent{margin:0 50px 0 0; padding:10px 0 0 0; list-style-type:none; position:relative; background:transparent; float:right}
.srent img{padding:0 7px 0 20px;}
.srent li{float:left; position:relative; display:block;height:30px;line-height:30px;padding-right:10px}
.srent a:link{text-decoration:none;height:30px}
.srent a:active,.srent a:visited,.srent a:hover{text-decoration:underline;}
.srent a:link,.srent a:active, .srent a:visited, .srent a:hover{color:black; display:block;text-align:center; font-size:0.8em;}
.srent li li{background-color:white;border-right:1px solid #eaeade;border-bottom:1px solid #eaeade;border-left:1px solid #eaeade;padding-left:10px;color:#fff}
.srent li li, .srent li li a, .srent li li a:hover, .srent li li a:focus{display:block;	width:100px;}
.srent li li a:link, .srent li li a:active, .srent li li a:visited, .srent li li a:hover, .srent li li a:focus{text-align:left;	}
.srent li li a:hover, .srent li li a:focus{text-align:left; display:block; width:100px; height:30px;}
.srent ul{position:absolute; display:none; padding:0; list-style-type:none;}
.srent li ul a{float:left;}
.srent li:hover ul, .srent li:focus ul {display:block;}
.srent li li img{padding:0 5px 0 3px;}
        