<div class="modal modal-loom" id="modal-loominternal" tabindex="-1" role="dialog" aria-labelledby="modal-loom-internal-title">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-loom-internal-title">{{ __('Loom Data') }} 1 / 2</h4>
    </div>
    <div class="modal-body">
      <p>
      Onec purus dui, vehicula in egestas in, lobortis et sem. Mauris neque quam, pharetra in lacinia vel, tempor vitae tellus. Sed eu augue eget neque euismod euismod. Praesent cursus tincidunt interdum.
      </p>
      <div class="form-group">
        <label class="control-label" for="modal-loom-internal-select">{{ __('Choose a table') }}</label>
        <select class="form-control" id="modal-loom-internal-select">
          <option repeat.each="[[items]]" repeat.as="item" data-value="[[ item|get('_wid') ]]">[[ item|get('$_wid') ]]</option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#modal-loominternal">{{ __('Cancel') }}</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-loom">{{ __('Continue') }}</button>
    </div>
  </div>
</div>
</div>

