<div class="modal modal-loadtable" id="modal-loadtable-uri" tabindex="-1" role="dialog" aria-labelledby="modal-loadtable-uri-title">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-loadtable-uri-title">{{ __('Load Data') }} 1 / 2</h4>
    </div>
    <div id="modal-load-tab-url" class="modal-body">
      <p>
      Onec purus dui, vehicula in egestas in, lobortis et sem. Mauris neque quam, pharetra in lacinia vel, tempor vitae tellus. Sed eu augue eget neque euismod euismod. Praesent cursus tincidunt interdum.
      </p>
      <div class="form-group">
        <label class="control-label" for="modal-load-input-type-b">{{ __('Type') }}</label>
        <select id="modal-load-input-type-b" class="form-control modal-load-shared-type">
          <option value="xml">XML Loader</option>
          <option value="xls">Excel Loader</option>
          <option value="csv">CSV Loader</option>
          <option value="nq">N-Quads Loader</option>
        </select>
      </div>
      <div class="form-group">
        <label for="modal-load-input-uri">Location</label>
        <input id="modal-load-input-uri" class="form-control" type="url" placeholder="URL" value="[[ <~>uri ]]" maxlength="255" pattern="https?://.+" />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#modal-loadtable-uri">{{ __('Cancel') }}</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-loadtable">{{ __('Continue') }}</button>
    </div>
  </div>
</div>
</div>

