<div class="modal" id="modal-loadtable-fork" tabindex="-1" role="dialog" aria-labelledby="modal-loadtable-fork-title">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-loadtable-fork-title">{{ __('Fork Table') }}</h4>
    </div>
    <div class="modal-body">
      <p>
      Onec purus dui, vehicula in egestas in, lobortis et sem. Mauris neque quam, pharetra in lacinia vel, tempor vitae tellus. Sed eu augue eget neque euismod euismod. Praesent cursus tincidunt interdum.
      </p>
      <div class="form-group">
        <label class="control-label" for="modal-forktable-extend">{{ __('Extend with') }}</label>
        <div id="modal-forktable-extend" style="width:100%;height:12em;"> </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#modal-loadtable(fork">{{ __('Cancel') }}</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-loadtable">{{ __('Continue') }}</button>
      </div>
    </div>
  </div>
</div>
</div>
