<div class="modal fade" id="modal-editpage" tabindex="-1" role="dialog" aria-labelledby="modal-editpage-title">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="modal-editpage-title">{{ __('Edit Template') }}</h4>
    </div>
    <div class="modal-body">
      <form onsubmit=[[handleSave]]>
        <p>
        Onec purus dui, vehicula in egestas in, lobortis et sem. Mauris neque quam, pharetra in lacinia vel, tempor vitae tellus. Sed eu augue eget neque euismod euismod. Praesent cursus tincidunt interdum.
        </p>
        <div class="form-group">
          <label class="control-label" for="modal-editpage-input-template">{{ __('Template') }}</label>
          <div id="modal-editpage-input-template"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
          <button id="action-editpage-save" type="button" class="btn btn-primary" onclick=[[handleSave]]>{{ __('Save') }}</button>
        </div>
      </form>
    </div>
  </div>
  <style> .jsoneditor .menu {display: none;} </style>
</div>
</div>
