<div class="modal" id="modal-loadtable" tabindex="-1" role="dialog" aria-labelledby="modal-loadtable-title">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-loadtable-title">{{ __('Load Data') }} 2 / 2</h4>
    </div>
    <div class="modal-body">
      <form onsubmit=[[handleLoad]]>
        <p>
        Onec purus dui, vehicula in egestas in, lobortis et sem. Mauris neque quam, pharetra in lacinia vel, tempor vitae tellus. Sed eu augue eget neque euismod euismod. Praesent cursus tincidunt interdum.
        </p>
        <div class="tabbable tabs-top">
          <ul id="modal-load-tab2-list" role="tablist" class="nav nav-tabs">
            <li role="presentation" class="active" data-type="text">
              <a href="#modal-load-tab2-label" aria-controls="#modal-load-tab2-label" role="tab" data-toggle="tab">{{ __('Representative label') }}</a>
            </li>
            <li role="presentation" data-type="text">
              <a href="#modal-load-tab2-text" aria-controls="#modal-load-tab2-text" role="tab" data-toggle="tab">{{ __('Representative text') }}</a>
            </li>
            <li role="presentation" data-type="hash">
              <a href="#modal-load-tab2-hash"  aria-controls="#modal-load-tab2-hash" role="tab" data-toggle="tab">{{ __('Representative hash') }}</a>
            </li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="modal-load-tab2-label">
              <div id="modal-load-tab2-jsoneditor-label" style="width:100%;height:12em;"> </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="modal-load-tab2-text">
              <div id="modal-load-tab2-jsoneditor-text" style="width:100%;height:12em;"> </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="modal-load-tab2-hash">
              <div id="modal-load-tab2-jsoneditor-hash" style="width:100%;height:12em;"> </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#modal-loadtable">{{ __('Cancel') }}</button>
      <button type="button" class="btn btn-default btn-info" onclick=[[handlePrevious]]>{{ __('Previous') }}</button>
      <button type="button" class="btn btn-danger" onclick=[[handleLoad]]>{{ __('Load') }}</button>
    </div>
  </div>
</div>
</div>

