<div class="modal fade" id="modal-editcolumn" tabindex="-1" role="dialog" aria-labelledby="modal-editcolumn-title">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="modal-editcolumn-title">{{ __('Edit Column') }}</h4>
    </div>
    <div class="modal-body">
      <p>
      Onec purus dui, vehicula in egestas in, lobortis et sem. Mauris neque quam, pharetra in lacinia vel, tempor vitae tellus. Sed eu augue eget neque euismod euismod. Praesent cursus tincidunt interdum.
      </p>
      <div class="form-group">
        <label class="control-label" for="modal-editcolumn-input-label">{{ __('Label') }}</label>
        <input class="form-control" id="modal-editcolumn-input-label" placeholder="" type="text" v-model="propertyLabel">
      </div>
      <div class="form-group">
        <label class="control-label" for="modal-editcolumn-input-scheme">{{ __('Scheme') }}</label>
        <input class="form-control" id="modal-editcolumn-input-scheme" placeholder="" type="url"  v-model="propertyScheme">
      </div>
      <ul id="modal-editcolumn-tab-list" role="tablist" class="nav nav-tabs">
        <li role="presentation" class="active" data-type="value">
          <a href="#modal-editcolumn-tab-value" aria-controls="#modal-editcolumn-tab-uri" role="tab" data-toggle="tab">{{ __(' is a value') }}</a>
        </li>
        <li role="presentation"  data-type="link">
          <a href="#modal-editcolumn-tab-link"  aria-controls="#modal-editcolumn-tab-text" role="tab" data-toggle="tab">{{ __('is a Link') }}</a>
        </li>
      </ul>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="modal-editcolumn-tab-value">
              <div class="form-group">
                <div id="modal-editcolumn-jsoneditor-value" style="width:100%;height:12em;"> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="modal-editcolumn-tab-link">
              <div class="form-group">
                <div id="modal-editcolumn-jsoneditor-link" style="width:100%;height:12em;"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="modal-editcolumn-input-name">{{ __('URL Name') }}</label>
        <input class="form-control" id="modal-editcolumn-input-name" placeholder="" type="text" pattern="\w+" v-model="propertyName">
      </div>
      <div class="form-group">
        <label class="control-label" for="modal-editcolumn-input-scheme">{{ __('Comment') }}</label>
        <input class="form-control" id="modal-editcolumn-input-scheme" placeholder="" type="text"  v-model="propertyComment">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
        <button id="action-editcolumn-drop" type="button" class="btn btn-warning">{{ __('Drop') }}</button>
        <button id="action-editcolumn-save" type="button" class="btn btn-primary">{{ __('Save') }}</button>
      </div>
    </div>
  </div>
  <style> .jsoneditor .menu {display: none;} </style>
</div>
