{% extends "layout.html" %}

{% block main %}
<div class="container" style="margin-top:10px;">
	<div>
		<div>
			<h1>Cookies et statistiques</h1>

			<p>En vue d’adapter le site aux demandes de ses visiteurs, nous mesurons le nombre de visites, le nombre de pages vues ainsi que de l’activité des visiteurs sur le site et leur fréquence de retour.</p>

			<p>Piwik, l’outil de statistiques utilisé par l’Inist – CNRS, génère un cookie avec un identifiant unique, dont la durée de conservation est limitée à 13 mois.</p>

			<p>Nous collectons également votre adresse IP, afin de déterminer la ville depuis laquelle vous vous connectez. Celle-ci est immédiatement anonymisée. <br />
			L’Inist – CNRS ne peut donc en aucun cas remonter par ce biais à une personne physique.
			<br />
			Les données ne sont pas cédées à des tiers ni utilisées à d’autres fins.</p>

			<p>Vous pouvez paramétrer votre navigateur afin qu’il vous signale la présence de cookies et vous propose de les accepter ou non. <br />
			Vous pouvez accepter ou refuser les cookies au cas par cas ou bien les refuser une fois pour toutes.
			<br />Il est rappelé que ce paramétrage est susceptible de modifier vos conditions d’accès aux services du site nécessitant l’utilisation de cookies.</p>

			<p>Le paramétrage des cookies est différent pour chaque navigateur et en général décrit dans les menus d’aide.</p>
		</div>

	</div>
</div>
{% endblock %}
