<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document {{_uri}}</title>
  <link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" id="bones-stylesheet-css" href="/assets/css/style.css" type="text/css" media="all">
  <link rel="stylesheet" id="bootstrap-stylesheet-css" href="/assets/css/testimonials.css" type="text/css" media="all" />
</head>
<body>

  <div class="panel panel-default" style="height: 120px">
    <div class="panel-body">
      <div class="media">
        <div class="media-left" style="color:#c4d735;">
          <i class="fa fa-leaf fa-2x" aria-hidden="true"></i>
        </div>
        <div class="media-body">
          <div class="media-heading">
            <a href="{{_uri }}.html">{{ _columns|getContentByScheme('http://purl.org/dc/terms/title') }}</a>
          </div>
          <p>{{ _columns|getContentByScheme('http://purl.org/dc/terms/description') }}</p>
          <p>{{ _columns|length }} {{ __('properties') }}</p>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript" charset="utf-8" src="/assets/js/bundle.min.js"></script>
</body>
</html>
