<!DOCTYPE html>
<html lang="{{ lang|d('en') }}">
  <head>
    <meta charset="UTF-8">
    <title>Document {{_uri}}</title>
    <link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="panel panel-default" style="min-height: 120px">
      <div class="panel-body">
        <div class="media">
          <div class="media-left" style="color:#c4d735;">
            <i class="glyphicon glyphicon-leaf" aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <div class="media-heading">
              <a href="{{_uri }}.html">{{ _columns|getContentByScheme('http://purl.org/dc/terms/title') }}</a>
            </div>
            <p>
            {{ _columns|getContentByScheme('http://purl.org/dc/terms/description') }}
            </p>
            <dl class="dl-horizontal">
              {% for columnID , column in _columns %}
              {% if column.cover == 'collection' and column.label and query[columnID]|d('?') != '?' %}
              <dt style="padding-top: 10px; width: 260px;">
              {{ column.label }} :
              <div style="font-size: 12px; color: lightslategrey;">{{ column.scheme }}</div>
              </dt>
              <dd style="padding-top: 10px; margin-left: 275px;">
              {% if column.content and column.content.html %}
              {{ column.content.html }}
              {% elif column.content and column.content.raw %}
              {{ column.content.raw }}
              {% endif %}
              </dd>
              {% endif %}
              {% endfor %}
            </dl>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
