{% extends "layout.html" %}


{% block head %}
<title>{{ titre }}</title>
<meta name="description" content="{{ description }}">
{% endblock %}


{% block style %}
<link rel="stylesheet" href="/assets/css/list.css"  type="text/css">
<link rel="stylesheet" id="bootstrap-stylesheet-css" href="/assets/css/testimonials.css" type="text/css" media="all" />

<script src="/libs/chartist/dist/chartist.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type='text/javascript' src="/assets/js/plie.js"></script>


<style>
body > div.container {
	margin-top : 80px;
}
</style>

{% endblock %}


{% block foot %}
<script type="text/javascript" charset="utf-8" src="/assets/js/bundle.min.js"></script>
{% endblock %}


{% block script %}
<script>
// https://github.com/gionkunz/chartist-js/issues/169
// http://jsbin.com/bawofakogu/1/edit?html,css,js,output
$(document).on('shown.bs.tab', 'button[data-toggle="tab"]', function (e) {
	$('.histogram').each(function(i, e) {
		e.__chartist__.update();
	});
});
</script>
{% endblock %}


{% block main %}
{% if print.header.introduction %}
<div class="container" style="margin-top:10px;">
	<div class="jumbotron alert  alert-info alert-dismissible fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		{{ print.header.introduction }}
	</div>
</div>
{% endif %}

<div class="container-fluid">
	<div id="content" class="row clearfix">


		<div id="main" class="col-md-9 clearfix" role="main">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div>
						<a href="{{ _root }}">
							<i class="fa fa-home fa-2x"></i>
							<em style="font-size: 22px;">
								{{ _columns|getContentByScheme('http://purl.org/dc/terms/title', {cover:'dataset'})|d('Missing dc:title in your datasetFields')}}
							</em>
						</a>
					</div>

					<h2>{{ _columns|getContentByScheme('http://purl.org/dc/terms/title')|d('Missing dc:title in your collectionFields')}}</h2>


					<div class="testimonial testimonial-info">
						<div class="testimonial-section">
							<h4>Description</h4>
							<p>{{ _columns|getContentByScheme('http://purl.org/dc/terms/description')|d('Missing "dc:description" in your collectionFields')}}</p>

						</div>
					</div>

				</div>


				<div class="col-md-12 col-sm-12">


					<div id="tab" class="btn-group" data-toggle="buttons">
						<a href="#ressource" class="btn btn-default active" data-toggle="tab">
							<input type="radio" />{{ __('Resource') }}</a>
						<a href="#exports" class="btn btn-default" data-toggle="tab">
							<input type="radio" />{{ __('Export') }}</a>
						<a href="#share" class="btn btn-default" data-toggle="tab">
							<input type="radio" />{{ __('Share') }}</a>
					</div>


					<div class="tab-content">
						<div class="tab-pane active" id="ressource">

							{{ print.item.resource|d('Missing `print.item.resource` in your config file') }}

							<h3 class="titre3">{{ __('Collection fields') }}</h3>

							<div class="testimonial-proprietes">
								<dl class="dl-horizontal">
									{% for columnName, column in _columns %}
									{% if column.cover == 'collection' and column.label %}
									<dt>
									{{ column.label }} :
									</dt>
									{% if column.content and column.content.html %}
									<dd>
									{{ column.content.html }}<br>
									({{ column.scheme }})
									{% elif column.content and column.content.raw %}
									{{ column.content.raw }}
									{% endif %}
									</dd>
									{% endif %}
									{% endfor %}
								</dl>
							</div>

							<h3 class="titre3">{{ __('Dataset fields') }}</h3>
							<div class="testimonial-proprietes">
								<dl class="dl-horizontal">
									{% for columnName, column in _columns %}
									{% if column.cover == 'dataset' and column.label %}
									<dt>
									{{ column.label }} :
									</dt>
									{% if column.content and column.content.html %}
									<dd>
									{{ column.content.html }}<br>
									({{ column.scheme }})
									{% elif column.content and column.content.raw %}
									{{ column.content.raw }}
									{% endif %}
									</dd>
									{% endif %}
									{% endfor %}
								</dl>
							</div>
						</div>


						<div class="tab-pane" id="exports">

							{{ print.item.exports|d('Missing `print.item.exports` in your config file') }}
							<div class="col-md-6">
								<div class="update-nag">
									<div class="update-split"><i class="glyphicon glyphicon-download-alt"></i></div>
									<div class="update-text">XSL <a href="http://file-format.lod.istex.fr/=/xsl" data-lodex="outer">{{ __('Get more information') }}</a>
										<a href="{{ _uri }}.xlsx">
											<span class="fa fa-download"></span>
											{{ __('Download') }}
										</a>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="update-nag">
									<div class="update-split update-success"><i class="glyphicon glyphicon-download-alt"></i></div>
									<div class="update-text">TSV <a href="http://file-format.lod.istex.fr/=/tsv" data-lodex="outer">{{ __('Get more information') }}</a>
										<a  href="{{ _uri }}.tsv" >
											<span class="fa fa-download"></span>
											{{ __('Download') }}
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="update-nag">
									<div class="update-split update-success"><i class="glyphicon glyphicon-download-alt"></i></div>
									<div class="update-text">CSV
										<a href="file-format.lod.istex.fr/=/csv" data-lodex="outer">{{ __('Get more information') }}</a>
										<a  href="{{ _uri }}.csv" >
											<span class="fa fa-download"></span>
											{{ __('Download') }}
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="update-nag">
									<div class="update-split"><i class="glyphicon glyphicon-download-alt"></i></div>
									<div class="update-text">N-Quads
										<a href="http://file-format.lod.istex.fr/=/nq" data-lodex="outer">{{ __('Get more information') }}</a>
										<a  href="{{ _uri }}.nq" >
											<span class="fa fa-download"></span>
											{{ __('Download') }}
										</a>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="update-nag">
									<div class="update-split"><i class="glyphicon glyphicon-download-alt"></i></div>
									<div class="update-text">N-Quads (Excel) <a href="http://file-format.lod.istex.fr/=/nqx" data-lodex="outer">{{ __('Get more information') }}</a>
										<a  href="{{ _uri }}.nqx" >
											<span class="fa fa-download"></span>
											{{ __('Download') }}
										</a>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="update-nag">
									<div class="update-split  update-success"><i class="glyphicon glyphicon-download-alt"></i></div>
									<div class="update-text">JSONLD
										<a href="http://file-format.lod.istex.fr/=/jsonld" data-lodex="outer">{{ __('Get more information') }}</a>
										<a  href="{{ _uri }}.jsonld">
											<span class="fa fa-download"></span>
											{{ __('Download') }}
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="update-nag">
									<div class="update-split  update-success"><i class="glyphicon glyphicon-download-alt"></i></div>
									<div class="update-text">Turtle
										<a href="http://file-format.lod.istex.fr/=/ttl" data-lodex="outer">{{ __('Get more information') }}</a>
										<a  href="{{ _uri }}.ttl">
											<span class="fa fa-download"></span>
											{{ __('Download') }}
										</a>
									</div>
								</div>
							</div>



							<section class="page-content entry-content clearfix" itemprop="articleBody">
								<a href="http://lodex.inist.fr/wp-content/uploads/2016/02/licence-ouverte-open-licence.gif" rel="attachment wp-att-214"><img class="size-medium wp-image-214 alignnone" src="http://lodex.inist.fr/wp-content/uploads/2016/02/licence-ouverte-open-licence-300x166.gif" alt="licence-ouverte-open-licence" width="300" height="166"></a>
								{{ print.item.license|d('Missing `print.item.license` in your config file') }}
								<p>&nbsp;</p>
								<blockquote data-secret="QLzNqK36kW" class="wp-embedded-content" style="display: none;"><p><a href="https://www.etalab.gouv.fr/licence-ouverte-open-licence">Licence Ouverte / Open Licence</a></p></blockquote>
								<p><iframe class="wp-embedded-content" sandbox="allow-scripts" security="restricted" src="https://www.etalab.gouv.fr/licence-ouverte-open-licence/embed#?secret=QLzNqK36kW" data-secret="QLzNqK36kW" width="500" height="300" title="Inclure un article WordPress" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></p>
							</section>

						</div>
						<div class="tab-pane" id="share">
							{{ print.item.share|d('Missing `print.item.share` in your config file') }}

							<h2><i class="fa fa-link"></i> {{ __('Link to this resource') }} </h2>
							<form action="" method="post">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-link"></i></span>
									<input type="text" class="form-control" value="{{ _uri }}">
								</div>
							</form>

							<h2><i class="fa fa-share"></i> {{ __('Share') }} </h2>
							<p>
							<a title="Facebook" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x"></i></span></a>
							<a title="Twitter" href="https://twitter.com/intent/tweet?url={{ _uri|urlencode }}"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span></a>
							<a title="Google+" href="https://plus.google.com/share?url={{ _uri|urlencode }}"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x"></i></span></a>
							<a title="Linkedin" href="https://www.linkedin.com/shareArticle?url={{ _uri|urlencode }}"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x"></i></span></a>
							<a title="Reddit" href="https://reddit.com/submit?url={{ _uri|urlencode }}"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-reddit fa-stack-1x"></i></span></a>
							<a title="Digg" href="http://digg.com/submit?url={{ _uri|urlencode }}"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-digg fa-stack-1x"></i></span></a>
							<a title="Stumbleupon" href="http://www.stumbleupon.com/submit?url={{ _uri|urlencode }}"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-stumbleupon fa-stack-1x"></i></span></a>
							<a title="E-mail" href="mailto:?body={{ _uri|urlencode }}"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-envelope fa-stack-1x"></i></span></a>
							<a title="Print" href="javascript:window.print();"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-print fa-stack-1x"></i></span></a>
							</p>

							<h2><i class="fa fa-code"></i> {{ __('Include in your page') }} </h2>
							<form action="" method="post">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-code"></i></span>
									<input type="text" class="form-control" value="<iframe width=&quot;560&quot; height=&quot;315&quot; src=&quot;{{_root}}?alt=iframe&quot; frameborder=&quot;0&quot;></iframe>">
								</div>
							</form>
						</div>
					</div>

				</div>

			</div>
		</div>


		<div id="sidebar" class="pull-right col-md-3" role="sidebar">
			<div>
				{% for name, col in documents[0]._columns %}
				{% if col.displayAreas.navbar %}
				<div id="navbar-{{ name }}" class="testimonial testimonial-info">
					<h2>{{ col.content.label }}</h2>
					<div class="testimonial-section">
						{{ col.content.html }}
					</div>
				</div>
				{% endif %}
				{% endfor %}

			</div>
		</div>
	</div>
</div>


{% endblock %}

