{% extends "layout.html" %}

{% block head %}
<title>{{ titre }}</title>
<meta name="description" content="{{ description }}">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/assets/css/list.css"  type="text/css">
<link rel="stylesheet" id='chartist-stylesheet-css' href="/libs/chartist/dist/chartist.min.css" type='text/css' media='all' />
<link rel="stylesheet" id="bootstrap-stylesheet-css" href="/assets/css/testimonials.css" type="text/css" media="all" />
<script src="/libs/chartist/dist/chartist.min.js"></script>
{% endblock %}

{% block foot %}
<script type="text/javascript" charset="utf-8" src="/assets/js/list.min.js"></script>
{% endblock %}

{% block script %}
<script>
// https://github.com/gionkunz/chartist-js/issues/169
// http://jsbin.com/bawofakogu/1/edit?html,css,js,output
$(document).on('shown.bs.tab', 'button[data-toggle="tab"]', function (e) {
	$('.histogram').each(function(i, e) {
		e.__chartist__.update();
	});
});
</script>

{% endblock %}

{% block main %}

<div class="container" style="margin-top:10px;">
	<div class="jumbotron alert  alert-info alert-dismissible fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		{{ print.header.content|d('Missing `print.header.content` in your config file') }}
	</div>
</div>

<div class="container-fluid">
	<div id="content" class="row clearfix">

		<div id="main" class="col-md-10 clearfix" role="main">
			<div class="row">
				<div class="col-xs-10 col-sm-8">
					<div class="tab-content">
						<div class="tab-pane active" id="carousel-topic">
							<div class="lib-panel">
								<div class="row box-shadow">
									<div class="col-md-6">
										<div class="lib-row lib-header">
											{% for name, col in documents[0]._columns %}
											{% if col.cover == 'dataset' and col.scheme == 'http://purl.org/dc/terms/title' %}
											<h1>{{ col.content.html }}</h1>
											{% endif %}
											{% endfor %}
											<div class="lib-header-seperator"></div>
										</div>
										<div class="lib-row lib-desc">
											{% for name, col in documents[0]._columns %}
											{% if col.cover == 'dataset' and col.scheme == 'http://purl.org/dc/terms/description' %}
											<p> {{ col.content.html }} </p>
											{% endif %}
											{% endfor %}

											{% for name, col in documents[0]._columns %}
											{% if col.cover == 'dataset' and col.scheme == 'http://purl.org/dc/terms/modified' %}
											<p>
											<i class="fa fa-clock-o" aria-hidden="true"></i> <time> {{ col.content.html }} </time>
											</p>
											{% endif %}
											{% endfor %}
										</div>
									</div>
									<div class="col-md-6">
										{% for name, col in documents[0]._columns %}
										{% if col.cover == 'dataset' and col.scheme == 'https://schema.org/image' %}
										{{ col.content.html }}
										{% endif %}
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						{% for name, col in documents[0]._columns %}
						{% if col.displayAreas.insert %}
						<div  class="tab-pane" id="carousel-{{ name }}">
							<div class="lib-panel">
								<div class="row box-shadow">
									<div class="col-md-6">
										<div class="lib-row lib-header">
											<h1>{{ col.label|d('no label.') }}</h1>
											<div class="lib-header-seperator"></div>
										</div>
										<div class="lib-row lib-desc">
											{{ col.help|d('no help.') }}
										</div>
									</div>
									<div class="col-md-6">
										{{ col.content.html }}
									</div>
								</div>
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="text-center col-xs-2 col-sm-4">
					<div class="list-group">
						<button data-target="#carousel-topic" data-toggle="tab"  type="button" class="list-group-item">Topic</button>
						{% for name, col in documents[0]._columns %}
						{% if col.displayAreas.insert %}
						<button data-target="#carousel-{{ name }}" data-toggle="tab"  type="button" class="list-group-item">{{ col.label|d('No label.') }}</button>
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div>
				<div class="social pull-right">
					<ul>
						<li><a href="https://twitter.com/intent/tweet?url={{ documents[0]._uri }}"  target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://plus.google.com/share?url={{ documents[0]._uri }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-dropbox"></i></a></li>
					</ul>
				</div>
				<div id="tab" class="btn-group" data-toggle="buttons">
					<a href="#overview" class="btn btn-default active" data-toggle="tab">
						<input type="radio" />Overview</a>
					<a href="#tableau" class="btn btn-default" data-toggle="tab">
						<input type="radio" />Tableau</a>
					<a href="#exports" class="btn btn-default" data-toggle="tab">
						<input type="radio" />Exports</a>
					<a href="#ontology" class="btn btn-default" data-toggle="tab">
						<input type="radio" />Ontology</a>
					<!--
		 <a href="#graph" class="btn btn-default" data-toggle="tab">
		 <input type="radio" />graph</a>
					-->
				</div>

				<div class="tab-content">
					<div class="tab-pane active" id="overview">
						{{ print.overview.introduction|d('Missing `print.overview.introduction` in your config file') }}
						<div class="container">
							{% for doc in documents %}
							<div class="col-sm-4 col-md-3">
								<div class="panel panel-default" style="height: 120px">
									<div class="panel-body">
										<div class="media">
											<div class="media-left" style="color:#c4d735;">
												<i class="fa fa-leaf fa-2x" aria-hidden="true"></i>
											</div>
											<div class="media-body">
												<div class="media-heading">
													{% for name, col in doc._columns %}
													{% if col.cover == 'collection' and col.scheme == 'http://purl.org/dc/terms/title' %}
													<a href="{{ doc._uri }}.html"> {{ col.content.html }} </a>
													{% endif %}
													{% endfor %}
												</div>
												{% for name, col in doc._columns %}
												{% if col.cover == 'collection' and col.scheme == 'http://purl.org/dc/terms/description' %}
												<p> {{ col.content.html }} </p>
												{% endif %}
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<nav aria-label="Pagination">
							<ul class="pager">
								{% set prev = (documents[0]._count[0] - itemsPerPage) %}
								{% set next = (documents[documents.length - 1]._count[0] + 1) %}
								{% set maxi = (documents[documents.length - 1]._count[1]) %}
								{% set truc = maxi - itemsPerPage - 1 %}
								<li class="previous {{ "disabled" if (prev < 0)  }}"><a href="?%24offset={{ prev if (prev >= 0) else 0 }}"><span aria-hidden="true">&larr;</span> Older</a></li>
								<li class="next {{ "disabled" if (next >= maxi)  }}"><a href="?%24offset={{ next if (next < maxi) else 0 }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
							</ul>
						</nav>
					</div>
					<div class="tab-pane" id="tableau">
						{{ print.tableau.introduction|d('Missing `print.tableau.introduction` in your config file') }}
						<tableau />
					</div>
					<div class="tab-pane" id="exports">
						{{ print.exports.introduction|d('Missing `print.exports.introduction` in your config file') }}
						
						
                            <div class="col-md-6">
                                <div class="update-nag">
                                    <div class="update-split"><i class="glyphicon glyphicon-download-alt"></i></div>
                                    <div class="update-text">XSLX <a href="http://file-format.lod.istex.fr/=/xslx" data-lodex="outer">Plus d'information</a>
                                         <a href="/*?alt=xlsx">
                                            <span class="fa fa-download"></span>
                                            Télécharger</a>
                                    </div>
                                </div>
                            </div>
                           

                            <div class="col-md-6">
                                <div class="update-nag">
                                    <div class="update-split update-success"><i class="glyphicon glyphicon-download-alt"></i></div>
                                    <div class="update-text">TSV <a href="http://file-format.lod.istex.fr/=/tsv" data-lodex="outer">Plus d'information</a>
                                        <a href="/*?alt=tsv" >
                                            <span class="fa fa-download"></span> Télécharger
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="update-nag">
                                    <div class="update-split update-success"><i class="glyphicon glyphicon-download-alt"></i></div>
                                    <div class="update-text">CSV
                                        <a href="file-format.lod.istex.fr/=/csv" data-lodex="outer">Plus d'information</a>
                                       <a href="/*?alt=csv" >
                                            <span class="fa fa-download"></span>
                                            Télécharger</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="update-nag">
                                    <div class="update-split"><i class="glyphicon glyphicon-download-alt"></i></div>
                                    <div class="update-text">N-Quads
                                        <a href="http://file-format.lod.istex.fr/=/nq" data-lodex="outer">Plus d'information</a>
                                       <a href="/*?alt=nq" >
                                            <span class="fa fa-download"></span>
                                            Télécharger</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="update-nag">
                                    <div class="update-split"><i class="glyphicon glyphicon-download-alt"></i></div>
                                    <div class="update-text">N-Quads (Excel) <a href="http://file-format.lod.istex.fr/=/nqx" data-lodex="outer">Plus d'information</a>
                                       <a href="/*?alt=nqx" >
                                            <span class="fa fa-download"></span> Télécharger
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="update-nag">
                                    <div class="update-split  update-success"><i class="glyphicon glyphicon-download-alt"></i></div>
                                    <div class="update-text">JSONLD
                                        <a href="http://file-format.lod.istex.fr/=/jsonld" data-lodex="outer">Plus d'information</a>
                                        <a href="/*?alt=jsonld">
                                            <span class="fa fa-download"></span>
                                            Télécharger</a>
                                    </div>
                                </div>
                            </div>
                           <div class="col-md-6">
                                <div class="update-nag">
                                    <div class="update-split  update-success"><i class="glyphicon glyphicon-download-alt"></i></div>
                                    <div class="update-text">Turtle
                                        <a href="http://file-format.lod.istex.fr/=/ttl" data-lodex="outer">Plus d'information</a>
                                        <a href="/*?alt=ttl">
                                            <span class="fa fa-download"></span>
                                            Télécharger</a>
                                    </div>
                                </div>
                            </div>
						
						<section class="page-content entry-content clearfix" itemprop="articleBody">
							<a href="http://lodex.inist.fr/wp-content/uploads/2016/02/licence-ouverte-open-licence.gif" rel="attachment wp-att-214"><img class="size-medium wp-image-214 alignnone" src="http://lodex.inist.fr/wp-content/uploads/2016/02/licence-ouverte-open-licence-300x166.gif" alt="licence-ouverte-open-licence" width="300" height="166"></a>
							<p>Les données mise en ligne dans le cadre de cette expérimentation sont issues des métadonnées ISTEX. &nbsp;Comme les données ISTEX, Elles sont &nbsp;placées sous le régime de la licence ouverte/open licence Etalab (cf. <a href="http://www.istex.fr/wp-content/uploads/2015/02/2015_Licence-type-ISTEX.pdf">contrat de licence type</a>).</p>
							<p>&nbsp;</p>
							<blockquote data-secret="QLzNqK36kW" class="wp-embedded-content" style="display: none;"><p><a href="https://www.etalab.gouv.fr/licence-ouverte-open-licence">Licence Ouverte / Open Licence</a></p></blockquote>
							<p><iframe class="wp-embedded-content" sandbox="allow-scripts" security="restricted" src="https://www.etalab.gouv.fr/licence-ouverte-open-licence/embed#?secret=QLzNqK36kW" data-secret="QLzNqK36kW" width="500" height="300" title="Inclure un article WordPress" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></p>
						</section>
					</div>
					<div class="tab-pane" id="ontology">
						{{ print.ontology.introduction|d('Missing `print.ontology.introduction` in your config file') }}
						<div>
							{% for key, col in documents[0]._columns %}
							<h4> {{ col.label|d('?') }}</h4>
							<dl class="dl-horizontal lead">
								<dt>scheme</dt>
								<dd>
								<a href="{{ col.scheme }}">{{ col.scheme }}</a>
								</dd>
								{% if col.type %}
								<dt>type</dt>
								<dd>
								{{ col.type }}
								</dd>
								{% endif %}
								{% if col.cover %}
								<dt>cover</dt>
								<dd>
								{{ col.cover }}
								</dd>
								{% endif %}
							</dl>

							{% endfor %}

						</div>

					</div>
				</div>
			</div>
		</div>

		<div id="sidebar" class="pull-right col-md-2">
			<div id="metrics" class="row">
				<div class="text-center col-xs-8 col-sm-6">
					<metric title="Ressources" query="$count?" mode="value"/>
				</div>
				<div class="text-center col-xs-4 col-sm-6">
					<metric title="Properties" query="$keys?field=_columns"/>
				</div>
			</div>
			<div>
				{% for name, col in documents[0]._columns %}
				{% if col.displayAreas.facet %}
				<div id="facet-{{ name }}">
					<facet title="{{ col.label }}" field="{{ name }}"/>
				</div>
				{% endif %}
				{% endfor %}

			</div>
		</div>
	</div>

	{% endblock %}

